<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<div *ngIf="afAuth.authState | async as user; else showLogin" style="min-height:500px;">
  <div style="padding:10px;">
    hai, {{ user.displayName }}
    <button class="btns" (click)="logout()">Logout</button>
  </div>
  <div class="container">
    <div class="item1">
      <router-outlet></router-outlet>
    </div>
    <div class="item2">
      <app-checkout-basket></app-checkout-basket>
    </div>
  </div>
</div>
<ng-template #showLogin>
  <div class="container-auth" style="min-height:500px;">
    <div class="item1-container-auth">
      <p>Please login.</p>
      <button class="btns" style="padding:10px;background-color:green;" (click)="login()">Login with Google</button>
    </div>
  </div>
</ng-template>

<app-footer></app-footer>
